<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Catálogo de Productos - Siman</title>

  <!-- ESTILOS -->
  <link rel="stylesheet" href="../css/styles.css" />
  <link rel="stylesheet" href="../css/product.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <link rel="icon" type="image/png" href="../assets/img/Log-Siman.png" />
</head>

<body>

  <!-- NAVBAR -->
  <header class="top-navbar" data-aos="fade-down">
    <div class="nav-container">
      <div class="left">
       <div class="logo">
            <a href="../index.html">
                <img src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/b06d7d59-cb0a-4fc3-8ced-7ab9fe02a68f___19999b42961a45dbb2f4293973939c0b.svg" alt="Logo Siman" />
            </a>
            </div>

      </div>

      <nav class="responsive-menu">
        <a href="../index.html"><i class="ri-home-5-line"></i> Inicio</a>
        <a href="../view/products.html" class="active"><i class="ri-store-2-line"></i> Productos</a>
        <a href="../view/oferts.html"><i class="ri-percent-line"></i> Ofertas</a>
        
      </nav>

      <nav class="desktop-nav">
        <a href="../index.html"><i class="ri-home-5-line"></i> Inicio</a>
        <a href="../view/products.html"class="active"><i class="ri-store-2-line"></i> Productos</a>
        <a href="../view/oferts.html"><i class="ri-percent-line"></i> Ofertas</a>
        
      </nav>

      <div class="search">
        <input type="text" placeholder="Buscar productos..." />
        <i class="ri-search-line"></i>
      </div>
    </div>
  </header>

  <!-- CATÁLOGO -->
<!-- CATÁLOGO -->
<main class="catalogo-container">


  <!-- PRODUCTOS -->
  <section class="productos">
    <div class="productos-header">
    <h2>Todos los Productos</h2>
    <a href="../view/oferts.html" class="ver-todo">Ver ofertas</a>
  </div>

    <div class="productos-grid">

      <!-- Producto 1 -->
      <div class="producto">
        <img src="https://siman.vtexassets.com/arquivos/ids/6643325-500-auto?v=638798043325200000&width=500&height=auto&aspect=true" alt="Audífonos Sony WH-CH520">
        <h4>Sony</h4>
        <p class="nombre">Audífonos Bluetooth Over Ear Sony WH-CH520</p>
        <p class="vendido">Vendido por <strong>Siman</strong></p>
        <p class="precio-anterior">$64.00</p>
        <div class="precio-desc">
          <span class="precio-descuento">$45.90</span>
          <span class="porcentaje-descuento">-28%</span>
        </div>
        <div class="colores">
          <span class="color" style="background: #d6d6ab;"></span>
          <span class="color" style="background: #849aa6;"></span>
          <span class="color" style="background: #000;"></span>
        </div>
        <button>Agregar al carrito</button>
      </div>

      <!-- Producto 2 -->
      <div class="producto">
        <img src="https://siman.vtexassets.com/arquivos/ids/6944984-500-auto?v=638841386036600000&width=500&height=auto&aspect=true" alt="Galaxy Buds FE">
        <h4>Samsung</h4>
        <p class="nombre">Audífono TWS Samsung Galaxy Buds FE</p>
        <p class="vendido">Vendido por <strong>Siman</strong></p>
        <p class="precio-anterior">$89.00</p>
        <div class="precio-desc">
          <span class="precio-descuento">$59.00</span>
          <span class="porcentaje-descuento">-34%</span>
        </div>
        <button>Agregar al carrito</button>
      </div>

      <!-- Producto 3 -->
      <div class="producto">
        <img src="https://siman.vtexassets.com/arquivos/ids/6310080-500-auto?v=638659057716770000&width=500&height=auto&aspect=true" alt="Redmi Buds 6">
        <h4>Xiaomi</h4>
        <p class="nombre">Audífono Xiaomi Redmi buds 6 play</p>
        <p class="vendido">Vendido por <strong>Siman</strong></p>
        <p class="precio-descuento">$15.00</p>
        <div class="colores">
          <span class="color" style="background: #c8d9e4;"></span>
          <span class="color" style="background: #fff;"></span>
          <span class="color" style="background: #000;"></span>
        </div>
        <button>Agregar al carrito</button>
      </div>

      <!-- Producto 4 -->
      <div class="producto">
        <img src="https://siman.vtexassets.com/arquivos/ids/6371128-500-auto?v=638870907727130000&width=500&height=auto&aspect=true" alt="Apple Airpods 4">
        <h4>Apple</h4>
        <p class="nombre">Audífonos inalámbricos en ear Apple Airpods (4ta generación)</p>
        <p class="vendido">Vendido por <strong>Siman</strong></p>
        <p class="precio-descuento">$189.00</p>
        <div class="cuotas">Hasta 24 cuotas</div>
        <button>Agregar al carrito</button>
      </div>

      <!-- Producto 5 -->
        <div class="producto">
        <img src="https://siman.vtexassets.com/arquivos/ids/2758618-500-auto?v=637843653239100000&width=500&height=auto&aspect=true" alt="JBL Flip 6">
        <h4>JBL</h4>
        <p class="nombre">Bocina JBL Flip 6 30Watts</p>
        <p class="vendido">Vendido por <strong>Siman</strong></p>
        <p class="precio-anterior">$149.00</p>
        <div class="precio-desc">
            <span class="precio-descuento">$115.00</span>
            <span class="porcentaje-descuento">-23%</span>
        </div>
        <p class="precio-descuento azul">$99.00 <span class="porcentaje-descuento azul">-34%</span></p>
        <div class="colores">
            <span class="color" style="background: #02d3c6;"></span>
            <span class="color" style="background: #1b3f50;"></span>
            <span class="color" style="background: #000;"></span>
        </div>
        <button>Agregar al carrito</button>
        </div>

        <!-- Producto 6 -->
        <div class="producto">
        <img src="https://siman.vtexassets.com/arquivos/ids/1495997-500-auto?v=638845953639000000&width=500&height=auto&aspect=true" alt="JBL Charge 5">
        <h4>JBL</h4>
        <p class="nombre">Bocina JBL Charge 5 40Watts</p>
        <p class="vendido">Vendido por <strong>Siman</strong></p>
        <p class="precio-anterior">$189.00</p>
        <div class="precio-desc">
            <span class="precio-descuento">$169.90</span>
            <span class="porcentaje-descuento">-11%</span>
        </div>
        <p class="precio-descuento azul">$149.90 <span class="porcentaje-descuento azul">-21%</span></p>
        <div class="cuotas">Hasta 24 cuotas</div>
        <div class="colores">
            <span class="color" style="background: #11e2ba;"></span>
            <span class="color" style="background: #1d2b2c;"></span>
            <span class="color" style="background: #000;"></span>
        </div>
        <button>Agregar al carrito</button>
        </div>

        <!-- Producto 7 -->
        <div class="producto">
        <img src="https://siman.vtexassets.com/arquivos/ids/5517397-500-auto?v=638793078165900000&width=500&height=auto&aspect=true" alt="Samsung 55 UHD">
        <h4>Samsung</h4>
        <p class="nombre">Pantalla Samsung Crystal 2024 LED smart 55" UHD/4K</p>
        <p class="vendido">Vendido por <strong>Siman</strong></p>
        <p class="precio-descuento">$599.00</p>
        <div class="cuotas">Hasta 48 cuotas</div>
        <button>Agregar al carrito</button>
        </div>

        <!-- Producto 8 -->
        <div class="producto">
        <img src="https://siman.vtexassets.com/arquivos/ids/6371136-500-auto?v=638870751014530000&width=500&height=auto&aspect=true" alt="Airpods con cancelación">
        <h4>Apple</h4>
        <p class="nombre">Audífonos inalámbricos Apple Airpods 4 con cancelación activa</p>
        <p class="vendido">Vendido por <strong>Siman</strong></p>
        <p class="precio-descuento">$259.00</p>
        <div class="cuotas">Hasta 24 cuotas</div>
        <button>Agregar al carrito</button>
        </div>

        <!-- Producto 9 -->
            <div class="producto">
            <img src="https://siman.vtexassets.com/arquivos/ids/6981022-500-auto?v=638848224400930000&width=500&height=auto&aspect=true" alt="Sony WH-CH720N">
            <h4>Sony</h4>
            <p class="nombre">Audífonos Bluetooth Over Ear Sony WH-CH720N con Noise Cancelling</p>
            <p class="vendido">Vendido por <strong>Siman</strong></p>
            <p class="precio-anterior">$159.00</p>
            <div class="precio-desc">
                <span class="precio-descuento">$89.90</span>
                <span class="porcentaje-descuento">-43%</span>
            </div>
            <div class="colores">
                <span class="color" style="background: #3e5e6c;"></span>
                <span class="color" style="background: #fff;"></span>
                <span class="color" style="background: #000;"></span>
                <span class="color" style="background: #dbb8b8;"></span>
            </div>
            <button>Agregar al carrito</button>
            </div>

            <!-- Producto 10 -->
            <div class="producto">
            <img src="https://siman.vtexassets.com/arquivos/ids/6291070-500-auto?v=638653882680930000&width=500&height=auto&aspect=true" alt="Honor TWS Choice X5 Pro">
            <h4>Honor</h4>
            <p class="nombre">Audífonos Honor in ear TWS Choice X5 pro</p>
            <p class="vendido">Vendido por <strong>Siman</strong></p>
            <p class="precio-anterior">$55.90</p>
            <div class="precio-desc">
                <span class="precio-descuento">$42.90</span>
                <span class="porcentaje-descuento">-23%</span>
            </div>
            <button>Agregar al carrito</button>
            </div>

            <!-- Producto 11 -->
            <div class="producto">
            <img src="https://siman.vtexassets.com/arquivos/ids/6932836-500-auto?v=638839578285430000&width=500&height=auto&aspect=true" alt="Xiaomi Redmi buds 6 lite">
            <h4>Xiaomi</h4>
            <p class="nombre">Audífono in ear Xiaomi Redmi buds 6 lite</p>
            <p class="vendido">Vendido por <strong>Siman</strong></p>
            <p class="precio-descuento">$25.00</p>
            <div class="colores">
                <span class="color" style="background: #aec3cf;"></span>
                <span class="color" style="background: #fff;"></span>
                <span class="color" style="background: #000;"></span>
            </div>
            <button>Agregar al carrito</button>
            </div>

            <!-- Producto 12 -->
            <div class="producto">
            <img src="https://siman.vtexassets.com/arquivos/ids/5517140-500-auto?v=638866379564770000&width=500&height=auto&aspect=true" alt="Samsung Crystal 65 UHD">
            <h4>Samsung</h4>
            <p class="nombre">Pantalla Samsung Crystal 2024 LED smart 65" UHD/4K</p>
            <p class="vendido">Vendido por <strong>Siman</strong></p>
            <p class="precio-descuento">$749.00</p>
            <div class="cuotas">Hasta 48 cuotas</div>
            <button>Agregar al carrito</button>
            </div>

            <!-- Producto 13 -->
            <div class="producto">
            <img src="https://siman.vtexassets.com/arquivos/ids/830645-500-auto?v=637358921212770000&width=500&height=auto&aspect=true" alt="Samsung 32 HD">
            <h4>Samsung</h4>
            <p class="nombre">Pantalla Samsung LED Smart 32" HD/UN32T4300APXPA</p>
            <p class="vendido">Vendido por <strong>Siman</strong></p>
            <p class="precio-descuento">$249.00</p>
            <p class="precio-descuento azul">$189.00 <span class="porcentaje-descuento azul">-24%</span></p>
            <div class="cuotas">Hasta 24 cuotas</div>
            <button>Agregar al carrito</button>
            </div>

            <!-- Producto 14 -->
            <div class="producto">
            <img src="https://siman.vtexassets.com/arquivos/ids/1131591-500-auto?v=638828541201800000&width=500&height=auto&aspect=true" alt="Samsung 43 FHD">
            <h4>Samsung</h4>
            <p class="nombre">Pantalla Samsung LED Smart 43" FHD/UN43T5300APXPA</p>
            <p class="vendido">Vendido por <strong>Siman</strong></p>
            <p class="precio-descuento">$319.00</p>
            <div class="cuotas">Hasta 24 cuotas</div>
            <button>Agregar al carrito</button>
            </div>

            <!-- Producto 15 -->
            <div class="producto">
            <img src="https://siman.vtexassets.com/arquivos/ids/7029780-500-auto?v=638864890089030000&width=500&height=auto&aspect=true" alt="Hisense 43 UHD">
            <h4>Hisense</h4>
            <p class="nombre">Pantalla Hisense VIDAA DLED Smart 43" 4K /Ultra HD</p>
            <p class="vendido">Vendido por <strong>Siman</strong></p>
            <p class="precio-descuento">$359.00</p>
            <div class="cuotas">Hasta 24 cuotas</div>
            <button>Agregar al carrito</button>
            </div>

            <!-- Producto 16 -->
            <div class="producto">
            <img src="https://siman.vtexassets.com/arquivos/ids/6880664-500-auto?v=638826600268970000&width=500&height=auto&aspect=true" alt="RCA 32 Roku">
            <h4>RCA</h4>
            <p class="nombre">Pantalla RCA LED smart 32" HD-roku</p>
            <p class="vendido">Vendido por <strong>Siman</strong></p>
            <p class="precio-anterior">$199.00</p>
            <div class="precio-desc">
                <span class="precio-descuento">$169.00</span>
                <span class="porcentaje-descuento">-15%</span>
            </div>
            <div class="cuotas">Hasta 24 cuotas</div>
            <button>Agregar al carrito</button>
            </div>

            <!-- Producto 17 -->
        <div class="producto">
        <img src="https://siman.vtexassets.com/arquivos/ids/5357453-500-auto?v=638477620195500000&width=500&height=auto&aspect=true" alt="Samsung 50 UHD">
        <h4>Samsung</h4>
        <p class="nombre">Pantalla Samsung Cristal 2024 LED smart 50" UHD/4K</p>
        <p class="vendido">Vendido por <strong>Siman</strong></p>
        <p class="precio-anterior">$539.00</p>
        <div class="precio-desc">
            <span class="precio-descuento">$389.00</span>
            <span class="porcentaje-descuento">-28%</span>
        </div>
        <div class="cuotas">Hasta 48 cuotas</div>
        <button>Agregar al carrito</button>
        </div>

        <!-- Producto 18 -->
        <div class="producto">
        <img src="https://siman.vtexassets.com/arquivos/ids/6962059-500-auto?v=638847370030330000&width=500&height=auto&aspect=true" alt="Sony WI-C100">
        <h4>Sony</h4>
        <p class="nombre">Audífonos Bluetooth In Ear Sony WI-C100</p>
        <p class="vendido">Vendido por <strong>Siman</strong></p>
        <p class="precio-anterior">$31.90</p>
        <div class="precio-desc">
            <span class="precio-descuento">$21.90</span>
            <span class="porcentaje-descuento">-31%</span>
        </div>
        <div class="colores">
            <span class="color" style="background: #004a54;"></span>
            <span class="color" style="background: #d8d1c3;"></span>
            <span class="color" style="background: #f2f2f2;"></span>
            <span class="color" style="background: #000;"></span>
        </div>
        <button>Agregar al carrito</button>
        </div>

        <!-- Producto 19 -->
        <div class="producto">
        <img src="https://siman.vtexassets.com/arquivos/ids/6643401-500-auto?v=638841338927200000&width=500&height=auto&aspect=true" alt="Sony WF-C700N">
        <h4>Sony</h4>
        <p class="nombre">Audífonos Bluetooth In Ear Sony WF-C700N con Noise Cancelling</p>
        <p class="vendido">Vendido por <strong>Siman</strong></p>
        <p class="precio-anterior">$129.00</p>
        <div class="precio-desc">
            <span class="precio-descuento">$69.90</span>
            <span class="porcentaje-descuento">-46%</span>
        </div>
        <div class="colores">
            <span class="color" style="background: #f7f7f7;"></span>
            <span class="color" style="background: #bccde2;"></span>
            <span class="color" style="background: #000;"></span>
            <span class="color" style="background: #a4d3b3;"></span>
        </div>
        <button>Agregar al carrito</button>
        </div>

        <!-- Producto 20 -->
        <div class="producto">
        <img src="https://siman.vtexassets.com/arquivos/ids/6644154-500-auto?v=638841323874100000&width=500&height=auto&aspect=true" alt="Sony XB100">
        <h4>Sony</h4>
        <p class="nombre">Bocina inalámbrica Sony SRS-XB100 portátil con Bluetooth</p>
        <p class="vendido">Vendido por <strong>Siman</strong></p>
        <p class="precio-anterior">$64.90</p>
        <div class="precio-desc">
            <span class="precio-descuento">$39.90</span>
            <span class="porcentaje-descuento">-39%</span>
        </div>
        <div class="colores">
            <span class="color" style="background: #a3a7a7;"></span>
            <span class="color" style="background: #6cd5e3;"></span>
            <span class="color" style="background: #f47e3b;"></span>
            <span class="color" style="background: #000;"></span>
        </div>
        <button>Agregar al carrito</button>
        </div>




    </div>
  </section>
</main>


    <!-- BOTTOM NAV SOLO EN MÓVIL -->
  <nav class="bottom-nav">
    <a href="../index.html" >
      <i class="ri-home-5-line"></i>
      <span>Inicio</span>
    </a>
    <a href="./view/products.html"class="active">
      <i class="ri-store-2-line"></i>
      <span>Productos</span>
    </a>
    <a href="../view/oferts.html">
      <i class="ri-percent-line"></i>
      <span>Ofertas</span>
    </a>
    
  </nav>


  <!-- FOOTER -->
  <footer class="footer" data-aos="fade-up">
    <div class="footer-top">
      <!-- Suscripción y contacto -->
      <div class="footer-left">
        <img src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/b06d7d59-cb0a-4fc3-8ced-7ab9fe02a68f___19999b42961a45dbb2f4293973939c0b.svg" alt="Siman.com" class="logo-footer" />
        <p>Suscríbete para obtener las mejores ofertas</p>
        <form class="subscribe-form">
          <input type="email" placeholder="e-mail" />
          <button type="submit">Suscribirme</button>
        </form>
        <p><strong>📞 2298-3777</strong></p>
        <p>Mantente en contacto con nosotros</p>
        <div class="social-icons">
          <a href="#"><i class="ri-facebook-fill"></i></a>
          <a href="#"><i class="ri-instagram-line"></i></a>
          <a href="#"><i class="ri-youtube-fill"></i></a>
        </div>
        <div class="app-buttons">
          <a href="#"><img src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/d0be837e-9719-4de4-90d3-c0dcb3a7d381___21dae961d8f8aa152fbc098b1112ab87.svg" alt="App Store" /></a>
          <a href="#"><img src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/b5d17bf5-6ffb-4ce9-97a7-26dc43a1bb34___eaddfe9b8ec0fbd896fbb0db51c98cef.svg" alt="Google Play" /></a>
        </div>
        <div class="country-selector">
          <select>
            <option selected>🇸🇻 El Salvador | US$</option>
          </select>
        </div>
      </div>

      <!-- Enlaces -->
      <div class="footer-links">
        <div class="footer-column">
          <h4>SIMAN CORPORATIVO</h4>
          <ul>
            <li><a href="#">Quiénes Somos</a></li>
            <li><a href="#">Visión y Misión</a></li>
            <li><a href="#">Historia</a></li>
            <li><a href="#">Sucursales</a></li>
            <li><a href="#">Servicios</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <h4>PROGRAMAS</h4>
          <ul>
            <li><a href="#">Monedero</a></li>
            <li><a href="#">Certificados de Regalo</a></li>
            <li><a href="#">Garantías</a></li>
            <li><a href="#">Siman PRO</a></li>
            <li><a href="#">Credisiman</a></li>
            <li><a href="#">Marketplace</a></li>
            <li><a href="#">Vende en Marketplace</a></li>
          </ul>
        </div>

        <div class="footer-column">
          <h4>SERVICIO AL CLIENTE</h4>
          <ul>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Política de devoluciones</a></li>
            <li><a href="#">Contáctenos</a></li>
            <li><a href="#">Seguridad del sitio</a></li>
            <li><a href="#">Política de Privacidad</a></li>
            <li><a href="#">Condiciones ofertas</a></li>
            <li><a href="#">Derecho de Retracto</a></li>
            <li><a href="#">Condiciones de uso</a></li>
            <li><a href="#">Términos y condiciones</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Legal -->
    <div class="footer-bottom">
      <div class="payment-methods">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Visa.svg" alt="Visa" height="20" />
        <img src="https://siman.vtexassets.com/assets/vtex/assets-builder/siman.store-theme/15.0.8/icons-footer/mastercard___126b83301073760d30dde71475da37f4.svg" alt="Mastercard" height="20" />
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Bac_credomatic_logo.png" alt="Credomatic" height="20" />
      </div>
      <p>Almacenes Siman S.A. de C.V. - NIT: 0614-170266–001-3 • Paseo General Escalón, Centro Comercial Galerías, San Salvador.</p>
      <p>© 2025 Almacenes Siman El Salvador. Reservados todos los derechos.</p>
    </div>
  </footer>

  <!-- SCRIPTS -->
  <script src="../js/include.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>AOS.init();</script>
</body>
</html>
